{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title%}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}" />
  </head>
  <body>
    <div
      class="wrapper"
      style="
        background: url('static/main/img/bg_main.jpg') no-repeat;
        background-size: 100%;
      "
    >
      <header class="header">
        <div class="container">
          <div class="flex-container">
            <h1>
              <a href="{% url 'home'%}"
                ><img
                  src="{% static 'main/img/logo_header.png' %}"
                  alt="Bas-Cosmetology"
              /></a>
            </h1>
            <nav class="nav">
              <ul class="nav-list">
                <li class="list-item">
                  <a href="#about" class="list-item_link">Обо мне</a>
                </li>
                <li class="list-item">
                  <a href="#services" class="list-item_link">Услуги</a>
                </li>
                <li class="list-item">
                  <a href="#" class="list-item_link">Отзывы</a>
                </li>
                <li class="list-item">
                  <a href="#" class="list-item_link">FAQ</a>
                </li>
                <li class="list-item">
                  <a href="#" class="list-item_link">Блог</a>
                </li>
                <li class="list-item">
                  <a href="#contacts" class="list-item_link">Контакты</a>
                </li>
              </ul>
              <ul class="nav-list nav-list--register">
                {% if user.is_active%}
                <li class="list-item list-item--bold">
                  <a href="#" class="list-item_link"
                    >{{ user.username|upper}}</a
                  >
                </li>
                <li class="list-item list-item--bold">|</li>
                <li class="list-item list-item--bold">
                  <a href="{% url 'users:logout'%}" class="list-item_link"
                    >Выйти</a
                  >
                </li>
                {% else %}
                <li class="list-item list-item--bold">
                  <a href="{% url 'users:login'%}" class="list-item_link"
                    >Войти</a
                  >
                </li>
                <li class="list-item list-item--bold">|</li>
                <li class="list-item list-item--bold">
                  <a href="{% url 'users:register'%}" class="list-item_link"
                    >Регистрация</a
                  >
                </li>
                {%endif%}
              </ul>
            </nav>
          </div>
        </div>
      </header>
      <div class="container">
        <div class="header-content">
          <h1 class="header-title">
            Профессиональная работа над качеством кожи
          </h1>
          <p class="header-subtitle">
            Чистка лица, лечение акне, спа уходы, массаж лица, увеличение губ в
            Москве
          </p>
          <a href="{%url 'record'%}"
            ><button class="button-primary">Записаться</button></a
          >
        </div>
      </div>
    </div>
    <main>
      <section class="about">
        <a name="about"></a>
        <div class="container">
          <div class="about-content">
            <div class="about-title">
              Привет, меня зовут <i class="about-title--italic">Name</i>, я
              косметолог. <br />
              Уже более 5 лет с любовью работаю над
              <i class="about-title--italic">вашей</i> красотой и
              <i class="about-title--italic">здоровьем</i> в Москве и других
              городах России...
            </div>
            <a href="{%url 'about'%}" class="about-link">обо мне</a>
          </div>
        </div>
      </section>
      <section class="service_and_price" name="services">
        <a name="services"></a>
        <div class="container">
          <h2 class="service_and_price-title">Услуги и цены</h2>
          {% block services%} {% endblock %}
        </div>
      </section>
      <section class="contacts">
        <a name="contacts"></a>
        <div class="container">
          <h2 class="contacts-title">Контакты</h2>
          <div class="contacts-content">
            <ul class="contacts-list">
              <li class="contacts-list-item">
                <p>Время работы:</p>
                <ul class="nested-list">
                  <li class="nested-list-item">
                    <p>пн. - пт.: с 9:00 до 20:00</p>
                  </li>
                  <li class="nested-list-item">
                    <p>сб. - вс.: с 10:00 до 17:00</p>
                  </li>
                </ul>
              </li>
              <li class="contacts-list-item">
                <p>Рабочий кабинет:</p>
                <ul class="nested-list">
                  <li class="nested-list-item">
                    <p>г. Москва, Нагатинский затон</p>
                  </li>
                  <li class="nested-list-item"><p>(метро Коломенская)</p></li>
                </ul>
              </li>
              <li class="contacts-list-item">
                <p>Контакты:</p>
                <ul class="nested-list">
                  <li class="nested-list-item">
                    <a href="tel:+11231234567">тел. : +1 (123) 123 45 67</a>
                  </li>
                  <li class="nested-list-item">
                    <p>Instagram: @my_instagram</p>
                  </li>
                </ul>
              </li>
              <li class="contacts-list-item">
                <p>Эл. почта:</p>
                <ul class="nested-list">
                  <li class="nested-list-item">
                    <a href="mailto: mail@mail.ru">mail@mail.ru</a>
                  </li>
                </ul>
              </li>
            </ul>
            <div class="map">
              <img src="{% static 'main/img/map.jpg' %}" alt="address" />
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="footer-wrapper">
          <div class="footer-logo">
            <a href="{% url 'home'%}"
              ><img
                src="{% static 'main/img/logo_footer.png' %}"
                alt="Bas-Cosmetology"
            /></a>
            <a href="{%url 'record'%}"
              ><button class="button-primary button-primary--footer">
                Записаться
              </button></a
            >
          </div>
          <div class="footer-lists">
            <ul class="footer-list">
              <h4 class="footer-lists-title">Навигация</h4>
              <li class="footer-list-item"><a href="#services">Услуги</a></li>
              <li class="footer-list-item"><a href="#contacts">Контакты</a></li>
              <li class="footer-list-item"><a href="#">Отзывы</a></li>
            </ul>
            <ul class="footer-list">
              <h4 class="footer-lists-title">Помощь</h4>
              <li class="footer-list-item"><a href="#">FAQ</a></li>
              <li class="footer-list-item">
                <a href="#">Конфиденциальность</a>
              </li>
            </ul>
            <ul class="footer-list">
              <h4 class="footer-lists-title">Социальные сети</h4>
              <li class="footer-list-item"><a href="#">Instagram</a></li>
              <li class="footer-list-item"><a href="#">WhatsApp</a></li>
              <li class="footer-list-item"><a href="#">Telegram</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-copyright">
          <p>&copy; BAScosmetology. Все права зщищены</p>
          <p>дизайн сайта А Соколова</p>
        </div>
      </div>
    </footer>
  </body>
</html>
